<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>CSpForum</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css" rel="stylesheet" />
  <link rel="stylesheet" href="css/newsstyle.css">
  <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
</head>
</head>
<%if(darkTema){%>
  <body class="dark">
  <%}%>
  <%if(!darkTema){%>
    <body>
    <%}%>
  <!-- Page Preloder -->
 <div id="preloder">
  <div class="loader"></div>
</div>

    <!-- delete-window -->
    <div class="delete-window delete-window-hidden " id="delete-window">
      <div class="delete-window-title">
          <span>Удалить?</span>
      </div>

      <div class="delete-window-buttons">
          <button class="delete-window-button windows" type="submit">Нет</button>
          <button class="delete-window-button windows1" type="submit">Да</button>
      </div>
  </div>

<!-- header2 -->

<div class="sidebar">
  <div class="sidebar-brand">
      <!-- <i class='bx bx-menu' id="btn" ></i> -->
      <i class='bx bx-chevron-right toggle'></i>
  </div>

  <ul class="sidebar-list">
    
      <li>
          <a href="/profile">
            <i class='bx bx-user'></i>
              <span class="sidebar-link-name">Профиль</span>
          </a>
              <span class="tooltip">Профиль</span>
      </li>

      <li>
        <a href="/">
              <i class='bx bx-home-alt'></i>
              <span class="sidebar-link-name">Главная</span>
          </a>
          <span class="tooltip">Главная</span>
      </li>

      <li>
          <a href="/categorys">
              <i class='bx bx-news' ></i>
              <span class="sidebar-link-name">Категории</span>
          </a>
          <span class="tooltip">Категории</span>
      </li>

      <li>
          <a href="/">
              <i class='bx bx-phone' ></i>
              <span class="sidebar-link-name">О нас</span>
          </a>
          <span class="tooltip">О нас</span>
      </li>


      <li>
        <a href="mypost.html">
            <i class='bx bx-edit-alt'></i>
            <span class="sidebar-link-name">Ваши новости</span>
        </a>
        <span class="tooltip">Ваши новости</span>
    </li>

      <li>
          <a href="/addpost">
              <i class='bx bx-plus-circle' ></i>
              <span class="sidebar-link-name">Создать новость</span>
          </a>
          <span class="tooltip">Создать новость</span>
      </li>
     


      <div class="bottom-content">
        <li class="mode">
          <span class="mode-text text">Тема</span>
          <div class="toggle-switch">
            <span class="switch"></span>
          </div>
        </li>
      </div>

  </ul>
</div>

  <!-- header -->
  <section class="naruto">
    <header class="head_nav">

      <div class="topnavbar">

      <div class="navbar-logo">
        <a href="/">
          <h4>Сyber<span>Sport</span></h4>
        </a>
      </div>
   
      <div class="input-box">
        <i class='bx bx-search' ></i>
        <input type="text" placeholder="Поиск..">
    </div>

    <div class="zxc1122">
      <!-- <div class="dropdown-buttons news_dropdown_button active">
        <button type="submit">Фильтры</button>
      </div> -->

      <%if(user){%>
          <div class="news-header-buttons news_newnews_button">
            <a href="/addpost">
            <button type="submit">
              <span>Добавить новость</span>
              <i class='bx bx-plus-circle'></i></button>
            </a>
          </div>
      <%}%>
    </div>

    <% if(!user) {%>
      <div class="login">
        <a href="/reg" >Войти</a>
      </div>
      <% } %>
      <% if(user) {%>
        <div class="login">
          <a href="/profile" >Профиль</a>
        </div>
        <% } %>

    </div>

            <!-- <div class="news_forma_cat" required readonly>
              
              <select class="dropdown_like dropdown" id="dropdown_like" name="country" placeholder="Выберите категорию" >
                <option selected="true" disabled="disabled">Лайки</option>
                <option value="australia">Много лайков</option>
                <option value="canada">Мало лайков</option>
              </select>

              <select class="dropdown_date dropdown" id="dropdown_date" name="country" placeholder="Выберите категорию" >
                <option selected="true" disabled="disabled">Дата добавления</option>
                <option value="australia">Свежие</option>
                <option value="canada">Старые</option>
              </select>

              <select class="dropdown_viev dropdown" id="dropdown_viev" name="country" placeholder="Выберите категорию" >
                <option selected="true" disabled="disabled">Просмотры</option>
                <option value="australia">Много просмотров</option>
                <option value="canada">Мало просмотров</option>
              </select>

              <select class="dropdown_comm dropdown" id="dropdown_comm" name="country" placeholder="Выберите категорию" >
                <option selected="true" disabled="disabled">Комментарии</option>
                <option value="australia">Много комментариев</option>
                <option value="canada">Мало комментариев</option>
              </select>

            </div> -->
            
          </header>
  
<!-- News -->
<!--Navigation-->
<div class="navigate_news">
  <span><a href="/categorys">Категории</a> => <a href="/news:<%=idCategory%>:1">Новости <%=categoryName%></a></span>
</div>

<div class="table-title">
  <h1>Новости <%=categoryName%></h1>
</div>

<div class="table-head">
  <div class="status status-columns">Фото</div>
  <div class="subjects status-columns">Текст</div>
  <div class="replies status-columns">Реакции</div>
  <div class="last-reply status-columns">Информация</div>
</div>


<div class="container-new-news">

  <%posts.forEach(({dataValues:{id,title,text,pictures,views,writed,userPost,news_likes,post_comments,status}})=>{%>
    <%if(status=="Проверено"){%>

    <div class="table-row">
    <div class="table_row_id">
      <span><%=id%></span>
    </div>

    <div class="status-columnImg centers categoryImages">
      <a href="#pexels-photo">
      <div class="centers categoryImages1" style="background-image: url('/images:<%=pictures%>');"></div>
    </a>
    <a id="pexels-photo" href="#" class="full" style="background-image: url('/images:<%=pictures%>');"></a>
  </div>


    <div class="subjects-description status-column">
      
      <div class="chat-manager-users">

        <div class="chat-manager-users-item">
        <span class="text-users-item-id">1</span>

        <input class="news_item_title" type="text" value="<%=title%>" required readonly>

        <textarea class="news_item_text" name="text" type="text"  rows="2" required readonly><%=text%></textarea>

    </div>
    
  </div>

      <div class="over-buttons">
        <a href="/posts:<%=id%>">
        <button type="submit">Перейти<i class="bx bx-up-arrow-alt"></i></button>
      </a>
      </div>

    </div>

    <div class="replies-stats status-column">
      <div class="comlike">
        <%var likesCount=0%>
        <%var isLiked=false%>
        <%news_likes.forEach(({dataValues:{like_id,post_id,user_id}})=>{%>
          <%likesCount += 1%>
          <%if(post_id==id&&user.id==user_id) isLiked=true%>
        <%})%>
        <%var commentsCount=0%>
        <%post_comments.forEach(()=>{%>
          <%commentsCount += 1%>
        <%})%>
      
        <div class="like-like" id="numberLike">
          <span class="like-users-item-id"><%=id%></span>
          <%if(isLiked){%>
            <button class="photos__like-icon" type="button" style="color: rgb(222, 64, 64);"><i class='bx bxs-like'></i></button>
          <%}%>
          <%if(!isLiked){%>
            <button class="photos__like-icon" type="button"><i class='bx bx-like'></i></button>
          <%}%>
          <input class="text-like-input" type="text" id="number" value="<%=likesCount%>" required readonly>
        </div>
      
        <div class="comm-comm" id="numberComm">
          <span class="comm-users-item-id">1</span>
        <a href="/posts:<%=id%>">
          <button class="photos__like-icon" type="button"><i class='bx bx-message-square-add'></i></button>
        </a>
          <input class="text-like-input" type="text" id="number" value="<%=commentsCount%>" required readonly>
      </div>
  
        <div class="show-show" id="numberShow">
          <span class="show-users-item-id">1</span>
          <button class="photos__like-icon" type="button"><i class='bx bx-show'></i></button>
          <input class="text-like-input" type="text" id="number" value="<%=views%>" required readonly>
      </div>

      </div>
    </div>

    <div class="last-info  status-column">
      <div class="card__footer">
        <div class="user">
          <a href="/profile:<%=userPost.dataValues.id%>"><img src="/images:<%=userPost.dataValues.picturepath%>" class="user__image"></a>
          <div class="user__info">
           <a href="/profile:<%=userPost.dataValues.id%>"><%=userPost.dataValues.name%></a> 
          </div>

          <small><%=writed%></small>

          <%if(user){%>
            <%if(user.id==userPost.id||user.role=="Администратор"){%>
      <div class="newsposts-btn-sd">
          <div class="news-delete-item-title">
            <i class='bx bx-trash'></i>
        </div>

        <div class="news-edit-item-title">
          <i class='bx bx-edit-alt'></i>
      </div>
    </div>
    <%}%>
    <%}%>

        </div>
      </div>
    </div>
  </div>
  <%}%>
  <%})%>

</div>

<!-- page -->

<div class="pagination">
  <a1> Cтраницы:</a1> <a href="/news:<%=idCategory%>:1">Свежие</a><a href="/news:<%=idCategory%>:<%=latestPage%>">Предыдущая</a><a href="/news:<%=idCategory%>:<%=nextPage%>">Следующая</a><a href="/news:<%=idCategory%>:<%=maxPage%>">Последние</a>
</div>

<div class="btn-up btn-up_hide"></div>


<!-- footer -->
<footer class="fo-end">
  <span>&copy;2023 Pinocchio</span>
</footer>

</section>
<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script src="js/preloader.js"></script>
<script src="js/header.js"></script>
<script src="js/news.js"></script>
<script src="js/editnews.js"></script>
<script src="js/search.js"></script>
<script src="js/scroll.js"></script>
<script src="js/dropdownfilters.js"></script>
<script src="js/topscroll.js"></script>
</body>
</html>